button{
  width: 9.375rem;
  margin-right: 2.5rem;
  padding: .625rem .9375rem;
  border: none;
  border-radius: .375rem;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  color: black;
  cursor: pointer;
  float: right;
}